<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xml:lang="en">
<head>
    <title>Password Reset</title>
    <meta charset="UTF-8">
    <style>
        body {
            font-family: 'Tahoma', sans-serif;
        }

        a {
            color: #007BFF;
            text-decoration: none;
        }

        .title {
            background-color: black;
            text-align: center;
            font-size: 18px;
            color: white;
            margin-top: 10px;
        }
    </style>
</head>
<body>
<p class="title">LOPI2 COFFEE SHOP</p>
<p>Hello,</p>
<p>To set a new password, click on the link below:</p>
<p><a th:href="${resetLink}">Reset Password...</a></p>
</br>
<p>Best regards,</p>
<b>LOPI TEAM</b>
</body>
</html>